:root {
    --color-light-grey-background: #FDFDFD;
    --color-primary-text: #000000;
    --color-secondary-text: #FDFDFD;
    --color-dark-grey-background: #2f2f2f;

    --font-size-large: 6.4rem;
    --font-size-medium: 3.2rem;
}