:root {
  --color-light-background: #F2F2F2;
  --color-medium-background: #919DA4;
  --color-dark-background: #2F3234;
  --color-light-gray-text: #D9DBE0;
  --color-medium-gray-text: #C3CBD1;
  --color-dark-gray-text: #919DA4;
  --text-size-landing: 26rem;
}

@keyframes rotate-inwards {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(90deg);
    opacity: 0;
  }
}
@keyframes rotate-outward {
  0% {
    opacity: 0;
    transform: rotateY(270deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
.rotate-in {
  animation: rotate-inwards 1s 1s forwards;
}

.rotate-out {
  animation: rotate-outward 1s 2s backwards;
}

.move-up {
  transform: translateY(-100vh);
  transition: all 1.5s ease-in;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.main {
  background-color: var(--color-light-background);
}

.hidden {
  opacity: 0;
  display: none !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

.landing_row--word {
  font-size: var(--text-size-landing);
  font-weight: 700;
}

.navbar_title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: white;
}
.navbar_list {
  font-size: 1.8rem;
  font-weight: 500;
}
.navbar_list--element a {
  letter-spacing: 0.2rem;
}

.about_title {
  font-size: 1.8rem;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: underline;
}
.about_content {
  font-size: 3.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--color-dark-background);
}
.about_content a {
  text-decoration: none;
  color: #3276D9;
}
.about_content a:active, .about_content a:hover, .about_content a:link, .about_content a:visited {
  text-decoration: none;
}

.light-gray {
  color: var(--color-light-gray-text);
}

.gray {
  color: var(--color-medium-gray-text);
}

.dark-gray {
  color: var(--color-dark-gray-text);
}

.navbar {
  height: 5vh;
  background-color: var(--color-dark-background);
  display: flex;
}
.navbar_title {
  margin: 0 4rem;
  align-self: center;
  flex: 0 0 58%;
}
.navbar_list {
  display: flex;
  flex: 0 0 40%;
  justify-content: space-evenly;
  align-self: center;
}
.navbar_list--element {
  display: inline-block;
}
.navbar_list--element a {
  text-decoration: none;
  color: var(--color-medium-gray-text);
}
.navbar_list--element a:active, .navbar_list--element a:hover, .navbar_list--element a:link, .navbar_list--element a:visited {
  text-decoration: none;
}
.navbar_list--element a:hover {
  color: white;
}

.landing {
  background-color: var(--color-dark-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing_row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.landing_row--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 100%;
}
.landing_row--word {
  display: block;
  position: absolute;
}

.about {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4rem;
}
.about_title {
  margin: 4rem 0;
}
.about_content {
  width: 55%;
}

.skills {
  height: 80vh;
}

.selfdevelopment {
  height: 50vh;
}

.projects {
  height: 50vh;
}

.contact {
  height: 40vh;
}

/*# sourceMappingURL=main.css.map */
