@import "abstracts/variables";

@import "base/base";
@import "base/typography";

@import "components/navigation";
@import "components/nextsection";

@import "layout/hero";
@import "layout/about";

@import "animations/hero";
@import "animations/about";

