@import "abstracts/variables";

@import "animations/landing";

@import "base/base";
@import "base/typography";

@import "layout/landing";
@import "layout/about";
@import "layout/skills";
@import "layout/selfdevelopment";
@import "layout/projects";
@import "layout/contact";

