.selfdevelopment {
    margin: 8rem 4rem;
  
    &_title {
      display: flex;
      align-items: center;
      margin: 2rem 0;
  
      &--text {
        margin-left: 1rem;
        padding: 5px 20px;
        background-color: var(--color-dark-background);
        border-radius: 6px;
        text-align: center;
      }
    }
  
    &_content {
      width: 60%;
  
      & p {
        line-height: 30px;
      }
    }
  }

  @media screen and (min-width: 2560px) {
    .selfdevelopment_content {
      width: 20%;
    }
  }
  
  @media screen and (min-width: 1920px) and (max-width: 2560px) {
    .selfdevelopment_content {
      width: 40%;
    }
  }

  @media screen and (max-width: 650px) {
    .selfdevelopment_content {
      font-size: 1.5rem;
      width: 100%;
    }
  }