.about {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--color-dark-grey-background);
    color: var(--color-secondary-text);

    &__header {
        font-size: var(--font-size-large);
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }

    &__content {
        display: flex;
        margin: 4rem 5rem;
    }

    &__skills {
        flex: 0 0 50%;

        &--title {
            font-size: var(--font-size-medium);
            text-decoration: underline;
            text-align: center;
        }
    }

    &__hobbies {
        
        &--title {
            font-size: var(--font-size-medium);
            text-decoration: underline;
            text-align: center;
        }
    }

}