.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--color-dark-grey-background);
    color: var(--color-secondary-text);

    
    &__content {
        margin: 24rem;

        &--title {
            font-size: var(--font-size-large);
            margin-bottom: 2rem;
        }
    }

}