.landing {
  background-color: var(--color-dark-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &_row {
    display: flex;
    justify-content: space-evenly;
    height: 100%;

    &--container {
      position: relative;
      width: 17%;
    }

    &--word {
      display: block;
      position: absolute;
    }
  }

}