.landing {
    background-color: var(--color-dark-background);
    height: 100vh;

    &_row--container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_row--word {
      position: absolute;
    }
}