:root {
    --color-light-background: #F2F2F2;
    --color-medium-background: #919DA4;
    --color-dark-background: #2F3234;
    --color-light-gray-text: #D9DBE0;
    --color-medium-gray-text: #C3CBD1;
    --color-dark-gray-text: #919DA4;

    --text-size-landing: 26rem;
    --text-size-landing-device: 10rem;
}