.navbar {
    
    height: 10vh;
    padding-top: 1rem;

    &__list {
        font-size: 2.5rem;
        display: flex;
        justify-content: flex-end;
        list-style: none;

        &--item {
            margin: 2rem 4rem;
        }

        &--link:link,
        &--link:visited {
            color: var(--color-primary-text);
            text-decoration: none;
            display: block;
        }
    }
}