.navbar {
  height: 5vh;
  background-color: var(--color-dark-background);

  display: flex;

  &_title {
    margin: 0 4rem;
    align-self: center;
    flex: 0 0 58%;
  }

  &_list {
    display: flex;
    flex: 0 0 40%;
    justify-content: space-evenly;
    align-self: center;

    &--element {
      display: inline-block;

      & a {
        text-decoration: none;
        color: var(--color-medium-gray-text);

        &:active, &:hover, &:link, &:visited {
          text-decoration: none;
        }

        &:hover {
          color: white;
        }
      }

    }
  }

}