#next-section {
    border-radius: 100%;
    border: 2px;
    background-color: rgba($color: #fff, $alpha: 0.0);
    background-size: 100%;
    position: fixed;
    z-index: 100;
    bottom: 24px;
    left: 50%;
    opacity: 1;
}

#next-section-svg {
    
    &:hover {
        cursor: pointer;
        transform: translateY(-5%);
    }

    &:active {
        transform: translateY(0%);
    }
}