.about {
    // height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8rem 4rem;
  
    &_title {
      margin: 2rem 0;
    }
  
    &_content {
      width: 55%;
    }
  }