
.about {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem;

  &_title {
    margin: 2rem 0;
  }

  &_content {
    width: 55%;
  }
}

@media screen and (min-width: 2560px) {
  .about_content {
    width: 20%;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .about_content {
    width: 35%;
  }
}

@media screen and (max-width: 960px) {
  .about_content {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .about_content {
    font-size: 2.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .about_content {
    font-size: 2rem;
    width: 100%;
  }
}