*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--color-light-grey-background);
}

object {
    pointer-events: none;
}

.descriptor--link {
    text-decoration: underline;
    cursor: pointer;
}