body {
    font-family: 'Montserrat', sans-serif;
}

.landing_row--word {
    font-size: var(--text-size-landing);
    font-weight: 700;
}

.about_title {
    font-size: 1.8rem;
    font-family: "Roboto Mono", sans-serif;
    text-decoration: underline;
}

.navbar {
    &_title {
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        color: white;
    }

    &_list {
        font-size: 1.8rem;
        font-weight: 500;

        &--element a {
            letter-spacing: 0.2rem;
        }
    }
}

.light-gray {
    color: var(--color-light-gray-text);
}

.gray {
    color: var(--color-medium-gray-text);
}

.dark-gray {
    color: var(--color-dark-gray-text);
}