body {
    font-family: 'Montserrat', sans-serif;
}

.landing_row--word {
    font-size: var(--text-size-landing);
    font-weight: 700;
}

.navbar {
    &_title {
        font-family: "Roboto Mono", sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        color: white;
    }

    &_list {
        font-size: 1.8rem;
        font-weight: 500;

        &--element a {
            letter-spacing: 0.2rem;
        }
    }
}

.about {
    &_title {
        font-size: 1.8rem;
        font-family: "Roboto Mono", sans-serif;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-decoration: underline;
    }

    &_content {
        font-size: 3.6rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: var(--color-dark-background);

        & a {
            text-decoration: none;
            color: #3276D9;

            &:active, &:hover, &:link, &:visited {
                text-decoration: none;
            }
        }
    }
}

.light-gray {
    color: var(--color-light-gray-text);
}

.gray {
    color: var(--color-medium-gray-text);
}

.dark-gray {
    color: var(--color-dark-gray-text);
}