body {
    font-family: 'Julius Sans One', sans-serif;
}

.landing_row--word {
    font-size: var(--text-size-landing);
    font-weight: bold;
}

.about_title {
    font-size: 1.8rem;
    font-family: "Roboto Mono", sans-serif;
    text-decoration: underline;
}

.light-gray {
    color: var(--color-light-gray-text);
}

.gray {
    color: var(--color-medium-gray-text);
}

.dark-gray {
    color: var(--color-dark-gray-text);
}