.contact {
    background-color: var(--color-dark-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
  
    &_title {
      text-decoration: underline;
      letter-spacing: 0.1rem;
      margin-bottom: 2rem;
    }
  
    &_content {
      width: 55%;
  
      & a {
        text-decoration: none;
        color: #3276D9;
      }
    }
  }

@media screen and (max-width: 650px) {
  .contact_content {
    font-size: 2rem;
    width: 100%;
  }
}