.navbar {
    background-color: var(--color-dark-background);
    display: flex;
    justify-content: space-between;
  
    &_title {
      margin: 2rem 4rem;
      align-self: center;
    }

    &_menu {
      display: flex;
      margin-right: 2rem;

    }

    &_list {
      display: flex;
      margin-right: 2rem;
      justify-content: space-evenly;
      align-self: center;
  
      &--element {
        display: inline-block;
        padding: 0 2rem;
  
        & a {
          text-decoration: none;
          color: var(--color-medium-gray-text);
  
          &:active, &:hover, &:link, &:visited {
            text-decoration: none;
          }
  
          &:hover {
            color: white;
          }
        }
  
      }
    }
  
  }

  @media screen and (min-width: 650px) {
    .navbar_list {
      display: flex;
    }

    .navbar_menu {
      display: none;
    }
  }

  @media screen and (max-width: 650px) {
    .navbar_list {
      display: none;
    }

    .navbar_menu {
      display: flex;
    }
  }