.fade-in {
    opacity: 0;
    transform: translateY(10rem);
    transition: opacity 400ms ease-in,
                transform 300ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}