@keyframes rotate-inwards {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

@keyframes rotate-outward {
  0% {
    opacity: 0;
    transform: rotateY(270deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.rotate-in {
  animation: rotate-inwards 1s 1s forwards;
}

.rotate-out {
  animation: rotate-outward 1s 2s backwards;
}

