:root {
  --color-light-background: #F2F2F2;
  --color-medium-background: #919DA4;
  --color-dark-background: #2F3234;
  --color-light-gray-text: #D9DBE0;
  --color-medium-gray-text: #C3CBD1;
  --color-dark-gray-text: #919DA4;
  --text-size-landing: 26rem;
  --text-size-landing-device: 10rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

.main {
  background-color: var(--color-light-background); }

body {
  font-family: 'Montserrat', sans-serif; }

.landing_row--word {
  font-size: var(--text-size-landing);
  font-weight: 700; }

.navbar_title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: white; }

.navbar_list {
  font-size: 1.8rem;
  font-weight: 500; }
  .navbar_list--element a {
    letter-spacing: 0.2rem; }

.about_title {
  font-size: 1.8rem;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: underline; }

.about_content {
  font-size: 3.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--color-dark-background); }
  .about_content a {
    text-decoration: none;
    color: #3276D9; }
    .about_content a:active, .about_content a:hover, .about_content a:link, .about_content a:visited {
      text-decoration: none; }

.skills_title--text {
  color: white;
  font-size: 1.4rem;
  font-weight: 500; }

.skills_content {
  font-size: 1.4rem; }
  .skills_content--timeline-title {
    font-weight: 700; }
  .skills_content--timeline-list {
    font-weight: 400; }

.selfdevelopment_title--text {
  color: white;
  font-size: 1.4rem;
  font-weight: 500; }

.selfdevelopment_content {
  font-size: 1.8rem;
  font-weight: 500; }

.contact {
  color: white; }
  .contact_title {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 1.8rem; }
  .contact_content {
    font-weight: 500;
    font-size: 3rem; }

.sticky_textcontent {
  font-weight: 700;
  font-size: 1.2rem; }

.light-gray {
  color: var(--color-light-gray-text); }

.gray {
  color: var(--color-medium-gray-text); }

.dark-gray {
  color: var(--color-dark-gray-text); }

@media screen and (max-width: 1000px) and (max-height: 750px), screen and (max-width: 750px) and (max-height: 1000px) {
  .landing_row--word {
    font-size: var(--text-size-landing-device);
    font-weight: 700; } }

@keyframes rotate-inwards {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(90deg);
    opacity: 0; } }

@keyframes rotate-outward {
  0% {
    opacity: 0;
    transform: rotateY(270deg); }
  100% {
    opacity: 1;
    transform: rotateY(360deg); } }

.rotate-in {
  animation: rotate-inwards 1s 1s forwards; }

.rotate-out {
  animation: rotate-outward 1s 2s backwards; }

.main {
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: all 1s;
  z-index: 2;
  width: 100vw; }

.hidden {
  top: 100%;
  height: 0; }

.sticky_container {
  position: fixed;
  right: 0;
  top: 50%;
  background-color: var(--color-dark-background);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  transition: all 1s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) translateY(-150%); }

.sticky_textcontent {
  color: var(--color-medium-gray-text);
  display: flex;
  justify-content: center; }

.sticky_icon {
  margin-left: 2rem;
  transform: rotate(-90deg); }

.hidden-side {
  transform: rotate(90deg) translateY(-200%) translateY(-100%); }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem; }
  .about_title {
    margin: 2rem 0; }
  .about_content {
    width: 55%; }

@media screen and (min-width: 2560px) {
  .about_content {
    width: 20%; } }

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .about_content {
    width: 35%; } }

@media screen and (max-width: 960px) {
  .about_content {
    width: 80%; } }

@media screen and (max-width: 650px) {
  .about_content {
    font-size: 2.5rem;
    width: 100%; } }

@media screen and (max-width: 390px) {
  .about_content {
    font-size: 2rem;
    width: 100%; } }

.contact {
  background-color: var(--color-dark-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem; }
  .contact_title {
    text-decoration: underline;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem; }
  .contact_content {
    width: 55%; }
    .contact_content a {
      text-decoration: none;
      color: #3276D9; }

@media screen and (max-width: 650px) {
  .contact_content {
    font-size: 2rem;
    width: 100%; } }

.landing {
  background-color: var(--color-dark-background);
  height: 100vh; }
  .landing_row--container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .landing_row--word {
    position: absolute; }

.navbar {
  background-color: var(--color-dark-background);
  display: flex;
  justify-content: space-between; }
  .navbar_title {
    margin: 2rem 4rem;
    align-self: center; }
  .navbar_menu {
    display: flex;
    margin-right: 2rem; }
  .navbar_list {
    display: flex;
    margin-right: 2rem;
    justify-content: space-evenly;
    align-self: center; }
    .navbar_list--element {
      display: inline-block;
      padding: 0 2rem; }
      .navbar_list--element a {
        text-decoration: none;
        color: var(--color-medium-gray-text); }
        .navbar_list--element a:active, .navbar_list--element a:hover, .navbar_list--element a:link, .navbar_list--element a:visited {
          text-decoration: none; }
        .navbar_list--element a:hover {
          color: white; }

@media screen and (min-width: 650px) {
  .navbar_list {
    display: flex; }
  .navbar_menu {
    display: none; } }

@media screen and (max-width: 650px) {
  .navbar_list {
    display: none; }
  .navbar_menu {
    display: flex; } }

.selfdevelopment {
  margin: 8rem 4rem; }
  .selfdevelopment_title {
    display: flex;
    align-items: center;
    margin: 2rem 0; }
    .selfdevelopment_title--text {
      margin-left: 1rem;
      padding: 5px 20px;
      background-color: var(--color-dark-background);
      border-radius: 6px;
      text-align: center; }
  .selfdevelopment_content {
    width: 60%; }
    .selfdevelopment_content p {
      line-height: 30px; }

@media screen and (min-width: 2560px) {
  .selfdevelopment_content {
    width: 20%; } }

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .selfdevelopment_content {
    width: 40%; } }

@media screen and (max-width: 650px) {
  .selfdevelopment_content {
    font-size: 1.5rem;
    width: 100%; } }

.skills {
  margin: 8rem 4rem; }
  .skills_title {
    display: flex;
    align-items: center; }
    .skills_title--text {
      margin-left: 1rem;
      padding: 5px 20px;
      background-color: var(--color-dark-background);
      border-radius: 6px;
      text-align: center; }
  .skills_content {
    display: flex;
    flex-wrap: wrap; }
    .skills_content--timeline-title {
      margin: 2rem 0; }
    .skills_content--timeline-list {
      position: relative; }
      .skills_content--timeline-list::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: var(--color-dark-background); }
      .skills_content--timeline-list li {
        list-style: none;
        margin: 20px;
        position: relative; }
        .skills_content--timeline-list li::before {
          z-index: 1;
          content: '';
          position: absolute;
          height: 8px;
          width: 8px;
          background-color: var(--color-dark-background);
          border-radius: 50%;
          transform: translate(-50%, 50%);
          left: -19px; }
        .skills_content--timeline-list li::after {
          content: '';
          position: absolute;
          height: 16px;
          width: 16px;
          background-color: var(--color-light-background);
          border: 2px solid var(--color-dark-background);
          border-radius: 50%;
          transform: translateX(-50%);
          left: -19px; }

#sidebackground {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  height: 814px;
  width: 291px; }
